@charset "UTF-8";

body
{
	margin: 0;
	position: relative;
	width:100%;
	height:100%;
	background-color: #FAFAFA;
}

a{
	text-decoration: none;
	color: white;
}
.wrap
{
	box-sizing:border-box;
	position: absolute;
	left:36%;
	
	margin: 0 auto;
	text-align: center;
	margin-top: 6%;
}
.sub
{
	padding-right: 10px;
	line-height: 2em;
}

.name
{
	padding-right: 10px;
	line-height: 2em;
}

.section
{
	padding-right: 5px;
}

.btn1
{
	width: 80px;
	height:35px;
	margin-right: 15px;
	margin-top:15px;
	margin-left:50px;
	background-color: #00253E;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	border: none;
	color: white;
	border-radius: 2px;
	font-size: 14px;
}

.btn2
{
	width: 80px;
	height:35px;
	background-color: white;
	cursor: pointer;
	display: inline-block;
	border: 1px solid #00253E;
	color: #00253E;
	border-radius: 2px;
	font-size: 14px;
}

.btn1:hover{
	background-color: white;
	color: #00253E;
	border: 1px solid #00253E;
}

.btn2:hover{
	background-color: #00253E;
	color: white;
	border: none;
}

