@charset "UTF-8";

body {
	margin: 0;
	background-color: #FAFAFA;
}

input, select {
	all:unset;
	padding: 6px;
	border-bottom: 0.1px solid #00243e;
}

section .wrap {
	width:100%;
	margin-top: 2%;
}

form {
	width: 30%;
	margin: auto;
}


form .label {
	color: #00243e;
	font-weight: bold;
	font-size: 16px;
	line-height: 1.8em;
}

form .textbox {
	width: 100%;
	cursor: pointer;
	/* background-color: white; */
	font-size: 16px;
}

form .addrbtn {
	margin-top: 2%;
	color: white;
	font-size: 14px;
	text-align: center;
	border-radius: 3px;
  	cursor: pointer;
	background-color: rgb(0, 37, 62);
	transition: background-color 300ms ease 0ms;
}

form .addrbtn:hover {
  	background-color: rgb(42, 69, 136);
}

#idch,#pwch,#usernamech,#addrch,#phonech,#questionch {
	font-size: 14px;
}

.submit {
	width: 100%;
	text-align: center;
	cursor: pointer;
	font-size: 16px;
	color: white;
	margin-bottom: 4px;
	border-radius: 3px;
	background-color: rgb(0, 37, 62);
	transition: background-color 300ms ease 0ms;
}

.submit:hover {
	background-color: rgb(42, 69, 136);
}

section .wrap .back {
	display: block;
	text-decoration: none;
	width: 100%;
	padding: 6px;
	text-align: center;
	cursor: pointer;
	font-size: 16px;
	color: white;
	border-radius: 3px;
	background-color: rgb(0, 37, 62);
	transition: background-color 300ms ease 0ms;
}

section .wrap .back:hover {
	background-color: rgb(42, 69, 136);
}

a{
	text-decoration: none;
}