@charset "UTF-8";

/*header-----------------------------------------------------------------------------------------------------------------------*/
header{
	background-color: #272727;
	color: white;
	width: 100%;
	margin: 0;
	height: 120px;
}

.headertext{
	float: right;
	margin-right: 30px;
	color: white;
}

.let{
	font-size: 40px;
	display: block;
	text-align: center;
	padding-top: 25px;
	color: white;
}

#search{
	float: right;
	margin-right: 30px;
	height: 8px;
}


/*------------------------------------------------------------------------------------------------------------------------------*/