@charset "UTF-8";

/*header-----------------------------------------------------------------------------------------------------------------------*/
header{
	background-color: #272727;
	color: white;
	width: 100%;
	margin: 0;
	height: 120px;
}

header div {
	text-align: right;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 8px;
}

header #query {
	margin-left: 5px;
	background-color: #DDDDDD;
}

header h1 {
	margin: 0;
	text-align: center;
	font-size: 35px;
	letter-spacing: 5px;
	line-height: 18px;  /* LET IT BID 상하 위치 조정 */
}

header li {
	float: right;
	padding: 5px;
	list-style: none;
	margin: 0;
}

#title,.log,.mypage{
	color: white;
}

.log:hover,.mypage:hover{
	color: white;
}

/*-----------------------------------------------------------------------------------------------------------------------*/


body{
	margin: 0;
	background-color: #FAFAFA;
}

a{
	text-decoration: none;
	cursor:pointer;
}

.wrap
{
	width:50%;
	height:100%;
	margin: 0 auto;
	text-align: center;
	margin-top: 6%;
	
}




.box1
{
	background-color: black;
	max-width;
	height: 50px;
	margin: 0;	
	
}

.let
{
	font-size: 25px;
    color: white;
    background-color: black;
    padding-left: 20px;
    line-height: 1.8;
	
}









